.p1 {
    background-color: blue;
    position: absolute;
    z-index: 1;
}

.p2 {
    background-color: red;
    position: absolute;
}
.bloc {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    position: relative;
    width: 60%;
    margin: 0 auto;
    color: white;
    z-index: 2;
}
div + .p1 {
    display: block;
    margin-top: 10px;
}