html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.bandeau {
    background-color: blue;
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: 10%;
    padding: 10px 0;
}

.menu {
    background-color: cyan;
    text-align: center;
    font-weight: bold;
    width: 20%;
    height: 80%;
    float: right;
    box-sizing: border-box;
}

.contenu {
    background-color: orange;
    text-align: center;
    font-weight: bold;
    width: 80%;
    height: 80%;
    float: left;
    padding: 10px ;
    box-sizing: border-box;
}

.pied {
    clear: both;
    background-color: lightgreen;
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: 10%;
    padding: 10px 0;
}